/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
.divider {
  padding: 0.3rem 0;
  width: auto;
  background-color: #acacac;
  color: white;
  text-align: center;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  text-transform: uppercase;
}

mat-icon {
  cursor: pointer;
}

.entity-card {
  text-align: center;
}

mat-card {
  text-align: center;
}

mat-card-title {
  text-transform: uppercase;
}

