<mat-card>
  <mat-card-title>Building: {{building.name}}</mat-card-title>
  <mat-card-subtitle>
    Total area: {{building.area}}
  </mat-card-subtitle>
  <mat-card-subtitle>
    Total cube: {{building.cube}}
  </mat-card-subtitle>
  <mat-card-subtitle>
    Total light: {{building.light}}
  </mat-card-subtitle>
  <mat-card-subtitle>
    Total heating: {{building.heating}}
  </mat-card-subtitle>
  <mat-card-footer>
    <mat-card-actions>
      <button mat-button (click)="showFloors()">VIEW FLOORS</button>
      <button mat-button (click)="goBack()">BACK</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
